:root {
    --blue: #2c1a5b;
    --gris-footer: #bfdcea;
}

body {
    font-family: sans-serif;
    margin: 0;
}

h1 {
    color: var(--blue);
    font-size: 40px;
}

a {
    text-decoration: none;
    color: var(--blue);
}

ul {
    list-style-type: none;
    padding: 0;
}

header {
    height: auto;
    background-color: var(--blue);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
}

main {
    padding-top: 200px;
}

header img {
    filter: brightness(100);
    width: 70px;
    padding: 5px;
}

header a {
    float: left;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: auto 0;
    margin-left: 50px;

    width: -moz-fit-content;
    width: fit-content;
    display: block;
}
header a:hover {
    text-decoration: underline;
}
header a span {
    display: block;
    padding-top: 30px;
}

/* #region index */

.actualite {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 3px solid var(--blue);
    border-radius: 25px;
    overflow: hidden;

}

.actualite:hover {
    box-shadow: 0 0 10px var(--blue);
    transform: translateY(-5px);
    filter: brightness(0.9);

}

.actualite img {
    max-width: 301px;
    color: #666;
}

.actualite_preview_body {
    padding: 10px;
}

.actualite_preview_body small {
    color: var(--blue);
}

.actu_container {
    padding-top: 50px;
    display: grid;
    grid-auto-flow: column;
    gap: 50px;
    overflow-x: scroll;
}

/* #endregion */
/* #region footer */
footer {
    height: 350px;
    margin-top: 200px;
    background-image: url(../medias/filigrane-c-footer.svg);
    background-repeat: no-repeat;
    background-color: #bfdcea;
    display: grid;
    grid: auto auto / auto auto;
}

.footer_map_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    border-right: white solid 2px;
    margin: auto 10px;
    width: 800px;
}

.footer_link_container {
    display: flex;
    flex-direction: row;
    height: 300px;
    align-items: center;
}

.footer_link_container a {
    text-decoration: none;
    color: var(--blue);
    font-size: 30px;
    margin-left: 30px;
    font-weight: bold;
}

.footer_link_container a:hover {
    text-decoration: underline;
}

footer p {
    color: var(--blue);

    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* #endregion */
/* #region article */

.actu_container_article {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.actu_container_article h1 {
    color: var(--blue);

}

.tags {
    color: var(--blue);
}

.tags:hover {
    color: var(--blue);
    filter: brightness(1.1);
    font-weight: bold;
    text-decoration: underline;
}

/* #endregion */
/* #region contact */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 900px;
    margin: 0 auto;
}

/* #endregion */


.menu {
    display: block;
    float: right;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    background-color: var(--blue);
    width: auto;
    height: auto;
}
.menu_body {
    display: none;
}
.menu:hover .menu_body{
    display: flex;
}

menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}

.menu_categorie a{
    text-decoration: underline;
}

.menu_sous_categorie::before {
    content: "-";
}
.menu ion-icon {
    color: white;
    font-size: 60px;
    margin: 10px;
    float: right;
}
.menu_edit {
    color: white;
    margin: 10px;
    float: right;
    position: relative;
    top: 25px;
    right: -63px;
}
.menu_edit:hover {
    filter: brightness(0.8);
}